[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
absl-py = "*"
google-cloud-bigquery = "*"
typing = "*"
pipenv = "*"
termcolor = "*"

[requires]
python_version = "3"
